<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/jeankim05/flask_portfolio">{{name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="navbar-brand" href="http://127.0.0.1:5000/">
                        Home Page
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/greet_jean">Jean Kim</a>
                            <a class="dropdown-item" href="/jay">Jay Manjrekar</a>
                            <a class="dropdown-item" href="/allie_greet">Allie Xiao</a>
                            <a class="dropdown-item" href="/alex">Alex Do</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="#navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <ul class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="#navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mini Labs
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/how_its_made">How it's Made</a>
                            <a class="dropdown-item" href="/stub">Stub Practice</a>
                            <a class="dropdown-item" href="/binary">Binary Math Lab</a>
                            <a class="dropdown-item" href="/rgb">RGB Lab</a>
                            <a class="dropdown-item" href="/logicgates/">Logic Gates</a>
                            <a class="dropdown-item" href="/unsigned_addition">Unsigned Addition Lab</a>
                            <a class="dropdown-item" href="/colorcode">Color Codes Mini Lab</a>
                            <a class="dropdown-item" href="/joke">Joke</a>
                            <a class="dropdown-item" href="/jokes">Jokes</a>
                            <a class="dropdown-item" href="/joke">Joke API</a>
                            <a class="dropdown-item" href="/jokes">Jokes API</a>
                            <a class="dropdown-item" href="/covid19">COVID 19 Page</a>
                        </div>
                    </ul>
                </ul>

                <div class="collapse navbar-collapse" id="#navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/sports">Sports</a>
                        <a class="nav-link" href={{ url_for('stub') }}>Athletes</a>
                        <a class="nav-link" href={{ url_for('stub') }}>Men's Apparel</a>
                        <a class="nav-link" href={{ url_for('stub') }}>Women's Apparel</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</nav>