{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "alex" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{nickname}}!</p>
    </div>
    <div class="col-12">
        <form action="/alex" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="nickname">
            <input type="submit" value="Greetings!">
        </form>
    </div>
</div>

<h1>About Me</h1>
<p>Hello! my name is Alex, a junior at Del Norte. I came from Seoul, Korea about 8 years ago. I like listening to any types of music, playing basketball, and video games with my friends. </p>
{% endblock %}



<!- This is turning off birds background from base.html -->
{% block background %}
<script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
<script src="{{ url_for('static', filename='vanta.rings.min.js') }}"></script>
<script>
    VANTA.RINGS({
        el: "body",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 201.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00
    })
</script>
{% endblock %}
