{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "greetings" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{nickname}}!</p>
        </div>
        <div class="col-12">
            <form action="/allie_greet/" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
    </div>

    <html>
    <body>
    <a href="http://127.0.0.1:5000/allie_binary">
        <input type="Submit" value="Allie binary page"/>
    </a>
    </body>
    </html>

    <h1>About Me</h1>
    <p>Hello! I'm Allie, a junior at Del Norte. I like reading novels, listening to music, and playing tennis. I also enjoy hiking and playing tennis. I'm new to computer science,
    but I like learning Python and creating wireframes. Below is a photo from my favorite national park.</p>

    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-prHS7cDsoPs%2FUlgd_wmYYuI%2FAAAAAAAAAvk%2FD4ldmsYc2JA%2Fs1600%2FGrand%2BPrismatic%2BSpring%2C%2BYellowstone%2BNational%2BPark.jpg&f=1&nofb=1" alt="The Yellowstone
Prismatic Hot Spring, a large pool with blue in the middle fading out to yellow and orange near the edges.">

{% endblock %}

<!- This is turning off birds background from base.html   -->
{% block background %}
{% endblock %}