<!DOCTYPE html>

{% extends "layouts/base.html" %}

{% block body %}

<html>
<style>
    html, body {
        background-color: tomato;
    }
</style>
<body>
<h1 style="color:Blue;">Athletes Information</h1>
<h3 style="color:Green;">Top Athletes</h3>
<h4>Lionel Messi</h4>
<img src="https://cdn-media.theathletic.com/cdn-cgi/image/fit=cover,width=700,height=466/6XoHZbMqDnuE_6XoHZbMqDnuE_o75NRCAbo2PG_original_1440x960.jpg" alt="Lionel Messi" height="400" width="400">
<p>Lionel Messi is one of the greatest athletes on the planet. Starting at a young age, his magical ability and skills brought him to the highest level. He is currently regarded as one of the best or even the best soccer player in the world.</p>
<h4>Lebron James</h4>
<img src="https://s.yimg.com/ny/api/res/1.2/0UVdgPmFpviz5if4iytiqQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTM2MA--/https://s.yimg.com/uu/api/res/1.2/jjj4ZGRikC18Nc3zal7IRw--~B/aD0xNDQwO3c9MjU2MDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/lebron_wire_usa_today_sports_articles_234/0ac9858f19c3f8c7ba7ae695eb5fed41"Lebron James" height="400" width="400" >
<p>Lebron James is one of the greatest basketball players the world has ever seen. Coming into retirement age, Lebron James has won 4 championships and has been in contest for the GOAT position.</p>
<h4>Tom Brady</h4>
<img src="https://static01.nyt.com/images/2021/02/07/sports/07sb-oldbrady/07sb-oldbrady-mobileMasterAt3x.jpg" alt="Tom Brady" height="400" width="400">
<p>Tom Brady is 43 years old and has won 7 superbowls in his career. The amount of superbowls won almost doubles that of the second most superbowls won by Joe Montana. Having idiolized Joe Montana in his youth, Brady has created a legacy which has surpassed that of even his own idol.</p>
</body>

<body>
<h1 style="color:Blue;">Who is the True Goat</h1>
<img src="https://e0.365dm.com/19/03/2048x1152/lebron-james-michael-jordan_4598953.jpg" alt="Tom Brady" height="400" width="400">
<iframe width="560" height="315" src="https://www.youtube.com/embed/tl3mR6eoEa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe height="400" width="400">
<p></p>

</body>
</html>

{% endblock %}