{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "greetings" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="margin: 5% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{nickname}}!</p>
        </div>
        <div class="col-12">
            <form action="/greet_jean/" id="greet" method="POST" >
                <label for="nickname">Type a greeting name?</label>
                <input name="name" id="nickname">
                <input type="submit" value="Greetings!">
            </form>
        </div>
    </div>

    <h1>About Jean Kim</h1>
<p>Hello, my name is Jean, a junior at Del Norte and I am 16 years old. In my spare time, I enjoy listening to music, playing basketball with friends, or going mountain biking. I am also a Taekwondo Athlete. In school, my favorite subject is biology, but I also enjoy programming. Although I am relatively new to computer science, I like to learn new codes.</p>

<img src="https://media.istockphoto.com/illustrations/martial-arts-sidekick-illustration-id163541371?k=20&m=163541371&s=612x612&w=0&h=bE1eu_vUiv8QWWZINeTUU1DJ9yaTXjPDUATT5B1TUGs=" alt="Taekwondo Picture.">


<html>

<body>

<a href="http://127.0.0.1:5000/jeanbinary">
    <input type="Submit" value="Jean Binary Page"/>
</a>

</body>

</html>

<style>
    html, body {
        background-color: Blue
    }
</style>

{% endblock %}

<!- This is turning off birds background from base.html -->

    {% block background %}
        <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vanta.birds.min.js') }}"></script>

    {% endblock %}

