{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "greetings" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{nickname}}!</p>
    </div>
    <div class="col-12">
        <form action="/greet" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="nickname">
            <input type="submit" value="Greetings!">
        </form>
    </div>
</div>

<img src="https://docs.google.com/drawings/d/e/2PACX-1vR7siKGH8egtKcNDp7kb7uQVoSfBIBh8EsbPNemgg3JPVmqDrljpjjwVwhTLYRtrWWU5EJlMaMmH74C/pub?w=960&h=720" alt="Sports in Light Wireframe" width="500px" height="500px">
<img src="https://docs.google.com/drawings/d/e/2PACX-1vSSHereStu2C1Pq9TNGG8MCFIwrZF8VYJNsi8FX_MZAPsBXLQiEmIGbyUQD348yDQv8EZV_Iuzv1jee/pub?w=960&h=720" alt="Sports in Dark Wireframe" width="500px" height="500px">
<iframe src="https://www.youtube.com/embed/k1-yGTv067w" style="border:none;" title="Video Journal" width="500px" height="500px"></iframe>
    <img src="https://docs.google.com/drawings/d/e/2PACX-1vT9JUIAEVAxph4foTBsExwJUHvq-Isk-Ss4X9Ra-vhFdmS-jwvyd3pupJepNRuovs49xVOtV0KAPvw6/pub?w=960&h=720" alt="Sports Catalog" width="500px" height="500px">

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
