<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}

<style>
    table, th, td {
        border:1px solid black;
        padding: 5px;
        color: white;
        align: center;
        margin: 100px;
    }
    h2 {
        color: black;
        text-align: center;
        padding-top: 15px;
        front-weight:bold;
        align: center;
    }
</style>
<style>
    html, body {
        background-color: deepskyblue;
    }
</style>
<body>

<h2>Sports Information</h2>

<table style="width:80%">
    <tr>
        <th>Sport Name</th>
        <th>Sport Information</th>
        <th>Notable Athletes</th>
    </tr>
    <tr>
        <td>Basketball</td>
        <td>Basketball is an indoor game that is played between two teams. There are five players of each team on the court at anytime. Each team tries to score by shooting the ball through the opponent's net or basket.</td>
        <td>Michael Jordan, Lebron James, Kobe Bryant</td>
    </tr>
    <tr>
        <td>Baseball</td>
        <td>Baseball is a bat and ball game played outdoors. There are nine players each that take turns batting and fielding. The pitcher throws a ball to the player on the batting team, who tries to hit it and score a run.</td>
        <td>Babe Ruth, Barry Bonds, Willie Mays</td>
    </tr>
    <tr>
        <td>Soccer</td>
        <td>Soccer is a sport that uses 11 players on each team on the field. There is one goalie and all the players try to kick the ball into the opposing team's goal in order to score a goal and win the game.</td>
        <td>Lionel Messi, Christiano Ronaldo, Diego Maradona</td>
    </tr>
    <tr>
        <td>American Football</td>
        <td>Often called football for short, this sport scores points through advancing the football into the opposing team's end zone. This is called a touch down. Football is an overall very aggressive and physically demanding game.</td>
        <td>Tom Brady, Jerry Rice, Lawrence Taylor</td>
    </tr>
</table>

<h2>Images</h2>
<img src="https://images.daznservices.com/di/library/sporting_news/f0/ea/sofi-stadium-090120a-getty-ftr_1c4uiqxe9oncr1qdbw4v70toqt.jpg?t=1285115524&quality=100" alt="Football Stadium" width="400" height="330">
<img src="https://www.si.com/.image/t_share/MTc5ODA5MDM5OTIzMDMwMDA1/fenway-brian-fluharty-copy.jpg" alt="Baseball Stadium" width="400" height="330">
<img src="https://images.adsttc.com/media/images/5eda/b8eb/b357/652a/6100/029d/large_jpg/09_2590_171122_MB144_6561.jpg?1591392437" alt="Soccer Stadium" width="400" height="330">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe_GTh4WJ7TAxp8esMsmXWjl1cYdKfI6DHbA&usqp=CAU" alt="Basketball Stadium" width="400" height="330">


</body>
</html>

{% endblock %}