{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Sports Forum" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}

<h1>About Jean Kim</h1>
<p> Hello user, this space is a forum for your thoughts on sports. You may collaborate with other users on sports issues, debates, and much more! </p>

<div class="center-block" style="margin: 5% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p> Message: {{greetforum}} </p>
    </div>
    <div class="col-12">
        <form action="/sportsforum/" id="forum" method="POST" >
            <label for="greetforum">Enter message!</label>
            <input name="name" id="greetforum">
            <input type="submit" value="Enter!">
        </form>
    </div>
</div>

<html>

</html>

<style>
    html, body {
        background-color: deepskyblue;
    }
</style>

{% endblock %}

<!- This is turning off birds background from base.html -->

{% block background %}
<script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
<script src="{{ url_for('static', filename='vanta.birds.min.js') }}"></script>

{% endblock %}

